body {
    background-color:rgb(53, 53, 201);
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color:rgb(53, 53, 201);
    font-size: 25px;
    color: white;

}